<div id="layout-stylez" class="layout">
    <div class="layout-content">
        <div class="xtabs flexbox col">
            <div id="stylez_tabitem" class="xtabs-item no-padding">
                <div show-button="#btn_stylez" data-selector="#Stylez" data-parent-selector="gradio-app" class="portal no-bg"></div>
            </div>
            <div id="astylez_tabitem" class="xtabs-item no-padding"></div>
            <div id="bstylez_tabitem" class="xtabs-item no-padding"></div>
        </div>
    </div>
    <div class="layout-footer">
        <div class="flexbox padding">
            <button title="stylez" id="stylez_nav" active="true" tabItemId="#stylez_tabitem" tabGroup="stylez_group" class="xtabs-tab">
                <div class="mask-icon icon-terminal"></div>
                <span>stylez</span>
            </button>
            <button title="astylez" id="astylez_nav" tabItemId="#astylez_tabitem" tabGroup="stylez_group" data-click="#tabs" class="xtabs-tab">
                <div class="mask-icon icon-terminal"></div>
                <span>stylez</span>
            </button>
            <button id="bstylez_nav" title="bstylez" class="xtabs-tab" tabItemId="#bstylez_tabitem" tabGroup="stylez_group">
                <div class="mask-icon icon-profile"></div>
                <span>stylez</span>
            </button>
        </div>
    </div>
</div>
