<div id="layout-console-log" class="layout">
  <div class="layout-header">
  </div>
  <div class="layout-content">
    <div id="container-console-log">
    </div>
  </div>
  <div class="layout-footer">
    <div class="flexbox flex-end padding">

      <button title="Startup profile" class="ae-button"
        onclick="popup_trigger.click(); testpopup(); showProfile('./internal/profile-startup'); return false;">
        <div class="mask-icon icon-profile">
        </div>
      </button>
    </div>
  </div>
</div>